/* @import './resets.css'; */
/* @import './fonts.css'; */
/* @import './theme.css'; */

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--bg-700: #1d1e26;
	--bg: #2b2b36;
	--bg-300: #353641;
	--primary-700: #669e4b;
	--primary: #91d072;
	--primary-300: #a9de8e;
	--secondary-700: #2a878a;
	--secondary: #34a0a4;
	--secondary-300: #60a4a7;
	--error-700: #c22525;
	--error: #ce3131;
	--error-300: #dd6f6f;
	--warning-700: #fab800;
	--warning: #fbc500;
	--warning-300: #fcd64d;
	--success-700: #028df1;
	--success: #039ff4;
	--success-300: #4fbcf7;
	--gray-700: #6d7a8c;
	--gray: #808d9e;
	--gray-300: #a6afbb;
	--white: #ffffff;
	--black: #000000;
	--transparent: #00000000;
	--overlay: #232a3beb;
}
