.overlay {
	position: fixed;
	inset: 0;
	height: 100vh;
	width: 100vw;

	background-color: var(--color-overlay);

	display: flex;
	justify-content: center;
	align-items: center;
}

.modal {
	width: 20rem;
	border-radius: var(--radius-md);
	box-shadow: var(--shadow-sm);
	background-color: var(--color-white);

	padding: 1.5rem;
	position: relative;
}
